.container {
    background-color: var(--darkBlue);
    min-height: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    padding: 0 1.2em;
    font-family: var(--playfulFont);
    font-weight: bold;
    color: var(--lightGreen);
    font-size: 2em;
    cursor: pointer;
}