.avatar {
    display: flex;
    justify-content: center;
    height: 150px;
    position: relative;
}

.avatar img {
    border-radius: 50%;
    overflow: hidden;
}

.avatarInput {
    background: none;
    color: var(--darkBlue);
}