.avatar {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 15px 0;
}

.avatar img {
    border-radius: 50%;
    overflow: hidden;
}

.avatarInput {
    background: none;
    color: var(--darkBlue);
}