:root {
  --lightGreen: #C8FE9A;
  --darkBlue: #0F0145;
  --midPurpleBlue: #CB949E;
  --hamburger: #CB929E;
  --purplePink: #D005A3;
  --lightGrey: #E5E5E5;
  --setMargin: 28px;
  --translucentgray: rgba(15, 1, 69, 0.17);
  --border-radius: 15px;
  --placeholderGreen: #d4d4d4c5;
  --purple-grad: linear-gradient(180deg, #C8FE9A 0%, #CB949E 53.12%, #D005A3 100%);
  --playfulFont: "Shadows Into Light";
  --textFont: "Outfit";
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --textShadow: 0px 3px 4px rgb(0 0 0 / 27%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", "Shadows Into Light", cursive, sans-serif;
}

body {
  background-image: var(--purple-grad);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", "Shadows Into Light", cursive, sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholderGreen);
  opacity: 1; /* Firefox */
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholderGreen);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholderGreen);
}

label {
  font-weight: 600;
  font-size: 16px;
  color: var(--darkBlue);
  margin-bottom: 3px;
}

select, input, #description {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  color: var(--lightGreen);
  background-color: var(--darkBlue);
  border-radius: var(--border-radius);
  border: none;
  padding: 5px 15px 5px 10px;
  width: auto;
}

input {
  height: 2.3em;
}

button {
  background-color: var(--darkBlue);
  color: var(--lightGreen);
  border: none;
}

button:active {
  border: 1px solid lightgoldenrodyellow;
}